{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>Logowanie:</h1>
    <form method="post">
        {% csrf_token %}
        <div>{{ form.as_p }}</div>
        <div class="text-center mt-2"><a class="text-decoration-none " href="{% url 'password_reset' %}">Nie pamiętam hasła </a></div>
        <input type="submit" value="Zaloguj" class="btn btn-outline-success">
    </form>
    <div class="mt-4">

        Nie masz jeszcze u nas konta? <a class="text-decoration-none" href="{% url 'registration' %}">Załóż konto</a>
    </div>
</div>
{% endblock %}